.header{
    background-color: #0066ff;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header__img{
    width: 100px;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
    object-fit: contain;
}
.header__search{
    display: flex;
    flex: 1;
}
.header__input{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header__searchicon{
    background-color: #cd9042;
    padding: 5px;
    height: 22px !important;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__link{
    color: white;
    text-decoration: none;
}
.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header__optionone{
    font-size: 10px;
}
.header__optiontwo{
    font-size: 13px;
    font-weight: 800;
}
.header__optionbasket{
    display: flex;
    align-items: center;
}
.header__basketcount{
    margin-left: 10px;
    margin-right: 10px;
}